<div class="row">
<!--  <div class="card-header">Receptu sarasas-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Recepto pavadinimas</th>-->
<!--        <th>Gaminimo laikas</th>-->
<!--        <th>Laikas kada valgyti</th>-->
<!--        <th>Gaminimo Aprasymas</th>-->
<!--        <th>Photo</th>-->
<!--        <th>Kalorijos</th>-->
<!--        <th>Alergenai</th>-->
<!--        <th>Ingridientu pavadinimas</th>-->
<!--        <th>Likes</th>-->
<!--        <th></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let recpt of receptBook">-->
<!--        <td>{{recpt.receptName}}</td>-->
<!--        <td>{{recpt.cookingTime}}</td>-->
<!--        <td>{{recpt.eatingTime}}</td>-->
<!--        <td>{{recpt.cookingDescription}}</td>-->
<!--        <td><img src="{{recpt.photo}}" style="width: 50px;height: 50px" alt="pic"></td>-->
<!--        <td>{{recpt.calory}}</td>-->
<!--        <td><div *ngFor="let rec of recpt.alergenai">{{rec}}</div></td>-->
<!--        <td>-->
<!--          <div *ngFor="let ingri of recpt.ingriedientName">-->
<!--            {{ingri.productName}}-->
<!--           {{ingri.quantity}}-->
<!--           {{ingri.size}}-->
<!--          </div>-->
<!--        </td>-->
<!--        <td>{{recpt.likes}}</td>-->
<!--        <td>-->
<!--          <button class="btn btn-success" (click)="increaseLikesCount(recpt.id)">Like</button>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="pusryciai">Pusryciai</label>
      <input type="checkbox" id="pusryciai"  [(ngModel)]="filterPusryciai" (change)="displayRecept()">
    </div>
    <div class="col-md-3">
      <label for="priespieciai">Priespieciai</label>
      <input type="checkbox" id="priespieciai"  [(ngModel)]='filterPriespieciai' (change)="displayRecept()">
    </div>
    <div class="col-md-3">
      <label for="pietus">Pietus</label>
      <input type="checkbox" id="pietus" [(ngModel)]='filterPietus' (change)="displayRecept()">
    </div>
    <div class="col-md-3">
      <label for="vakariene">Vakariene</label>
      <input type="checkbox" id="vakariene"  [(ngModel)]='filterVakariene' (change)="displayRecept()">
    </div>

  </div>
  <app-recept-item *ngFor="let recept of receptBookDisplay" class="col-lg-3 col-md-4" [recept]="recept"></app-recept-item>
  <table>
    <tr *ngFor="let erep of receptBookDisplay">
      <td class="receptName">{{erep.receptName}}</td>
    </tr>
  </table>
</div>
